{%  extends "polls/home_page.html"%}
{% block mainbody %}
    <div class="container"  style="padding-left: 30%;padding-right: 30%;background: url('../../static/polls/images/board.jpg');position: absolute;position: center; width:100%;height:100%; background-size: 100%100%; ">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        基本信息：
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr><td>姓名</td><td>{{ user.name }}</td></tr>
                        <tr><td>性别</td><td>{{ user.sex }}</td></tr>
                        <tr><td>邮箱</td><td>{{ user.email }}</td></tr>
                        <tr><td>学号</td><td>{{ user.user_id }}</td></tr>
                        <tr><td>年龄</td><td>{{ user.age }}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="padding-left: 30%">
            <ul class="pagination" >
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    </div>

{% endblock %}